<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.qualityMapper">
<resultMap type="quality" id="rng">
	<id property="id" column="id" />
		<result property="district_id" column="district_id"/>
			<result property="monitor_time" column="monitor_time"/>
			<result property="pm10" column="pm10"/>
				<result property="pm25" column="pm2.5"/>
					<result property="monitoring_station" column="monitoring_station"/>
						<result property="last_modify_time" column="last_modify_time"/>
	
	<association property="d" javaType="district">
		<id property="id" column="id" />
		<result property="name" column="Name"/>

	</association>
</resultMap>
	
	
	<select id="getAll" resultMap="rng">
	select * from quality q join district d on q.district_id=d.id limit #{a},#{b}
	</select>
	<select id="count" resultType="int" >
	select count(*) from quality
	</select>
	
	<insert id="insert" parameterMap="rng">
	insert into quality (district_id,monitor_time,pm10,pm2.5,monitoring_station) values(#{district_id},#{monitor_time},#{pm10},#{pm25},#{monitoring_station})
	</insert>
	

</mapper>

